*.swp
cache/
local_location.cache.generic
test.xplanet-update.[0-9]*
xplanet.conf

#
# Distribution Files (should be copied to this directory)
arcs/README
arcs/constellations
config/
ephemeris/
fonts/FreeMonoBold.ttf
fonts/README
images/README
images/earth.jpg
images/hubble.png
images/iss.png
images/mgs.png
images/night.jpg
images/odyssey.png
images/shuttle.png
images/smile.png
images/sublunar.png
images/subsolar.png
images/sun.jpg
markers/README
markers/brightStars
markers/earth
markers/mars
markers/moon
origin/
rgb.txt
satellites/README
satellites/iss
spice/
stars/

#
# Previously-tracked files updated by xplanet-update.pl
satellites/iss.tle
satellites/iss_hans.tle
satellites/science.tle
satellites/science_hans.tle

#
# Untracked files updated by xplanet-update.pl
arcs/hurricane
arcs/hurricane.tight
markers/hurricane
markers/moonphase
xplanet-update-new.pl

